/*Estilo general documento*/
html{
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
}
/*Configuración body*/
body{
    display:flex;
    min-height:100vmin;
    flex-direction:column;
}
/*Estilo encabezado*/
header {
    background-color:black;
    padding:0;
}
/*Posicionamiento del logo de la empresa dentro del encabezado*/
#logo{
    margin:0px;
    padding:0;
    width:150px;
    height:127px;
}
/*Estilo menú*/
nav{
    margin:0;
    padding:0px;
    list-style-type:none;
    margin-left: auto;
    margin-top: auto;
    width:auto;
    float:right;
}
nav ul{
    margin:auto;
    padding:0;
    width: auto;
}
nav a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
} 
nav li{
    display:inline-block;
    width:auto;
    padding:5px;
    background-color:black;
    border:1px solid black;
    text-align:center;
    color:white;
}
nav li:hover{
    background-color:black;
    color:#FFDB00;
}
/*Define dimensiones para la zona de los elementos del body 
que no pertenece al header o footer*/
.contenedor{
    min-height: 600px;
    max-height: fit-content;
}
/*Información página principal
se aplica a index.html ca.html y en.html*/
#info{
    padding: 5px;
}
#imagen_mar{
    width: 480px;
    height: 401px;
    float: right;
    margin-right: 15%;
}
#titulo2{
    text-align:center;
    color:red;
    width:35%;
    margin-left:15%;
}
#texto{
    font-size: 18px;
    text-align: center;
    width:35%;
    margin-left:15%;
}
/*Elemento de la página de producto*/
#worker{
    display: flex;
    justify-content: center;
}
/*Elemento de la página de recetas*/
#recetas{
    margin-top:auto;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:30px;
}
#recetas h4,ul{
    margin-left:30px;
}
#recetas img{
    box-shadow:2px 2px 2px 1px lightgrey;
}
#ingredientes li{
    list-style-type:disc;
}
/*Efectos de las imágenes de las recetas*/
.contenedorImg:hover img{
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}
.contenedorImg{
    margin-left:30px;
    margin-bottom:10px;
    overflow:hidden;
}
/*Configuración pie de página*/
footer{
    font-size:18px;
    color:white;
    background-color:black;
    padding:5px;
    flex:1;
    text-align: center;
}
footer div{
    display:flex;
    justify-content:center;
}
footer img{
    width:150px;
    height:119px;
}
